*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: white;
}

.main{
    background-color: rgb(0, 0, 0);
    height: 640px;
    width: 480px;
}



.header{
    height: 10%;
    background-color: aqua;
}

.mid{
    height: 80%;
    background-color: white;
}

.footer{
    height: 10%;
    background-color: rgb(99.61%, 64.71%, 0.39%);
}

.tmid{
    display: flex;

    border-top: 5px solid white;
    height: 75%;
    background-color: rgb(170, 167, 212);
}

.bmid{
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    height: 25%;
    background-color: rgb(182, 146, 146);
}

.lmid{
    background-color: rgb(201, 91, 12);
    height: 100%;
    width: 40%;
}

.rmid{
    border-left: 5px solid white;
    background-color: blueviolet;
    height:  100%;
    width: 60%;
}

.hero{
    background-color: aquamarine;
    height: 40%;
    border-bottom: 5px solid white;
}

.mc{
    height: 70%;
    background-color: brown;
    border-bottom: 5px solid white;
}

.ri{
    border-right: 5px solid rgb(255, 255, 255);
    background-color: rgb(213, 130, 30);
    height: 100%;
    width: 70%;
}