*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgb(127, 131, 255);
}

.main{
    background-color: aliceblue;
    height: 600px;
    width: 640px;
}

.header{
    height: 20%;
    background-color: rgb(54, 222, 99);
}

.sub{
    display: flex;
    height: 80%;
    background-color: blueviolet;
}

.nav{
    background-color: rgb(117, 202, 202);
    height: 100%;
    width: 20%;
}

.sub2{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 80%;
    height: 100%;
    background-color: chocolate;
}

.footer{
    height: 25%;
    background-color: blueviolet;
}