*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
    padding: 50px 5%;
    background: url(https://images.unsplash.com/photo-1526784408922-5877a417af64?q=80&w=1450&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) center;
    background-size: auto;

}
.container{
    border-radius: 30px;
    background-color: rgba(36, 134, 134, 0.406);
    height: 100%;
    backdrop-filter: blur(30px);
    border: 2px solid rgba(255, 255, 255, 0.159);
}

.header{
    padding: 0px 60px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 100px;
}
.righth{
    display: flex;
    gap: 40px;
}

.portfolio{
    font-size: 30px;
    font-weight: bold;
    color: aliceblue;
    text-decoration: none;
    border-bottom: 4px solid transparent;
}

.hword{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    font-weight: 800;
    border-bottom: 3px solid transparent;
}

.portfolio:hover,.header :hover, .home{
    color: rgb(255, 255, 255);
    border-color: #fff;
    transition: .3s;
}

.home-section{
    display: flex;
    align-items: center;
    height: 75%;
    gap: 50px;
    padding: 5px 5% 0;
}

.home-info h1{
    color: #fff;
    font-size: 60px;
    line-height: 1;
}

.home-info h2{
    color: #fff;
    font-size: 30px;
}

.home-section p{
    color: #fff;
    margin: 10px 0 20px;
}

.downloadcv{
    display: flex;
    align-items: center;
}

.btn{
    display: flex;
    display: inline-block;
    padding: 10px 30px;
    background: #fff;
    border-radius: 40px;
    border: 2px solid white;
    box-shadow: 0 0 10px #fff;
    font-weight: bold;
    color: rgb(88, 88, 88);
    text-decoration: none;
    transition: .5s;
}

.btn:hover{
    box-shadow: none;
    background: transparent;
    color: #fff;
    padding: 12px 36px;
}

.main-icons{
    margin-left: 20px;
}

.home-info .icons{
    display: inline-flex;
    border:2px solid #fff;
    padding: 8px;
    border-radius: 100%;
    text-decoration: none;
    color: #fff;
    transition: .5s;
    
}

.icons:hover{
    color: black;
    padding: 12px;
    background: white;
}


