*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background: url(https://images.unsplash.com/photo-1502679726485-931beda67f88?q=80&w=1476&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 80px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    backdrop-filter: blur(30px);
    background-color: rgba(254, 254, 254, 0.163);
}

.nav1{
    display: flex;
    gap: 10px;
}

.nav2{
    display: flex;
    gap: 20px;
}

.nav2 h5{
    font-size: larger;
    display: none;
}

.dot{
    color: rgb(217, 135, 255);
}

@media (max-width: 600px) {
    .nav{
        padding: 10px 20px;
        height: 60px;
    }
    .nav2 h4{
        display: none;
    }
    .nav2 h5{
        display: block;
        transition: .3s;
    }
    .nav2 h5:hover{
        color: rgb(217, 135, 255);
    }
}

.ri-remix-fill:hover{
    transition: .3s;
    color: rgb(217, 135, 255);
}